body {
  font-size: 80%;
  color: #B8B8B8;
}

header {
  background-color: #383838;
  display: flex;
  width: 940px;
  height: 100px;
  align-items: center;
  justify-content: space-between;

}

#logo {
  /*background-color: yellow;*/
  margin-left: 90px;
}


#main_nav {
  /*background-color: brown;*/
  margin-right: 90px;
}

h1 {
  /*background-color: blue;*/
  margin: 0;
}

p {
  /*background-color: purple;*/
  margin: 0;
}

nav ul {
  background-color: #101010;
  padding: 13px;
}

nav li {
  display: inline;
  padding: 10px;
  font-size: 90%;
}


section {
  width: 940px;
  height: 600px;
}

footer {
  background-color: #383838;
  width: 940px;
  height: 50px;

}
