body {
  font-family: palatino, serif;
  font-size: 80%;
  color: #B8B8B8;
}

header {
  background-color: #383838;
  display: flex;
  width: 940px;
  height: 100px;
  align-items: center;
  justify-content: space-between;

}

#logo {
  /*background-color: yellow;*/
  margin-left: 90px;
}


#main_nav {
  /*background-color: brown;*/
  margin-right: 90px;
}

h1 {
  /*background-color: blue;*/
  margin: 0;
}

h5 {
  /*background-color: purple;*/
  margin: 0;
}

nav ul {
  background-color: #101010;
  padding: 13px;
}

nav li {
  display: inline;
  padding: 10px;
  font-size: 90%;
}


main {
  width: 940px;
}



#content_wrapper {
  margin-left: 90px;
  margin-right: 90px;

}

.big_pictures {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#placeholder {
  width: 200px;
  height: 300px;
  margin-left: 90px;
}

#hero {
  padding-right: 0;
  margin-right: 90px;
  width: 510px;
  height: 300px;
  background-color: grey;
}

.feature-benefits {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 2rem;
}

figure {
  float: left;
  padding: 3px;
  padding-bottom: 0;
  border-style: solid;
  border-width: 1px;
  border-color: #B8B8B8;
  margin-top: 1px;
  margin-right: 10px;
  margin-left: 0;
}

section {
  padding-right: 30px;

}

.read-more {
  float: right;
  font-size: 85%;

}

p a {
  text-decoration: none;
  color: orange;

}

footer {
  background-color: #383838;
  width: 940px;
  height: 50px;
  display: flex;
  align-items: center;

}

.copyright {
  margin-left: 90px;
  font-size: 75%;
}
